version: '3.9'
services:
  backend:
    restart: always
    depends_on:
      - postgres
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - '3200:3200'
  postgres:
    restart: always
    image: postgres:11.21-bullseye
    ports:
      - '5432:5432'
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
